@import url("../styles/global.css");
@import url("../styles/header.css");
@import url("../styles/hero.css");

/*criando animação*/
@keyframes slideUp {
  /*radical estatico*/
  0%,
  22% {
    transform: translateY(
      0
    ); /*  vertical, vai fazer o carinha ir para cima epra baixo*/
  }

  /*divertida in*/
  23% {
    transform: translateY(calc(-5rem - 15px));
  }

  25% {
    transform: translateY(calc(-5rem + 10px));
  }

  27% {
    transform: translateY(calc(-5rem - 5px));
  }

  29% {
    transform: translateY(calc(-5rem + 5px));
  }
  /*divertida estatica*/
  /**/

  33%,
  55% {
    transform: translateY(-5rem);
  }
  /*saudável in*/
  56% {
    transform: translateY(calc(-10rem - 15px));
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }

  /*saudável estatico*/
  66%,
  88% {
    transform: translateY(-10rem);
  }
  /*radical in*/
  89% {
    transform: translateY(calc(-15rem - 15px));
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(-15rem);
  }
}
/* hero-image */
